package main

import (
    "os"
    "fmt"
    "flag"
    "github.com/z0rr0/ytapigo"
)

func main() {
    defer func() {
        if r := recover(); r != nil {
            fmt.Printf("Panic: %v\n", r)
            os.Exit(1)
        }
    }()
    langs := flag.Bool("langs", false, "show available languages")
    debug := flag.Bool("debug", false, "debug mode")
    flag.Parse()

    if *debug {
        ytapigo.DebugMode(true)
    }
    if *langs {
        if langs, err := ytapigo.GetLangs(); err != nil {
            panic(err)
        } else {
            fmt.Println(langs)
        }
    } else {
        if spelling, translation, err := ytapigo.GetTranslations(flag.Args()); err != nil {
            panic(err)
        } else {
            fmt.Printf("%v\n%v\n", spelling, translation)
        }
    }
}
